#aTips_wrap, #aTips_box, #aTips_box *{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-box-sizing:border-box;box-sizing:border-box;}
#aTips_wrap{position: fixed; z-index:888111888; left: 0; top: 0; width: 100%; height: 100%; vertical-align: middle; background:rgba(0,0,0,.5);}
#aTips_wrap>table{table-layout:fixed;width:100%;height:100%;text-align: center;}
#aTips_wrap>table>tr>td{vertical-align:middle;text-align: center;}

#aTips_box{display: inline-block; min-width:70%; max-width:88%; margin:0 auto;border-radius:5px;background:rgba(255,255,225,.85);animation: bounceIn 0.2s both; -webkit-animation: bounceIn 0.2s both;}
#aTips_content{padding:25px 15px; text-align:center; overflow: hidden; font-size:16px; line-height:1.5;}
#aTips_foot{position: relative; width:100%;text-align:center;}
#aTips_foot a{ display:inline-block; width:44%; margin:0 5px 6px; height:44px; line-height:44px; font-size:18px; text-align:center; border-radius:5px; text-decoration:none;outline:none;}
#aTips_foot a.aTips_define{width: 80%;}
#aTips_define{background-color:#f60;color:#FFF;}
#aTips_cancel{background-color:#fff;color:#666;}
#aTips_define.aTips_hover{background-color:#ba4a00; color:#FFF;}
#aTips_cancel.aTips_hover{background-color:#b1b1b1; color:#333;}

/* 仿iPhone界面 */
/*
#aTips_box{width:84%;margin:0 auto;border-radius:10px;background:#fff;animation: bounceIn 0.2s both; -webkit-animation: bounceIn 0.2s both;}
#aTips_content{padding:25px 20px; text-align:center; overflow: hidden; font-size:16px; line-height:1.5;}
#aTips_foot{position:relative; overflow: hidden; height:48px; font-size: 0; line-height:48px; text-align:center; border-top:1px solid #EBEBEB;}
#aTips_foot a{position:relative; display:inline-block; width:50%; text-align:center; font-size:18px; text-decoration: none; outline: none; color: #0FA5F5; }
#aTips_foot a:first-child{border-radius:0 0 0 10px; }
#aTips_foot a:last-child{ border-radius:0 0 10px 0; }
#aTips_foot a.aTips_define{width: 100%; background:#fff; border-radius:0 0 10px 10px;}
#aTips_foot a.aTips_hover{ background: #e8e8e8; }
#aTips_foot:before{content:'';position:absolute; width:1px; height:48px; margin-left: -1px; left:50%; top:0; background:#EBEBEB;}
*/

@-webkit-keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}

/* loading */
#aTips_loadWrap{position: fixed; z-index:999111999; left: 0; top: 0; width: 100%; height: 100%; vertical-align: middle; background:rgba(0,0,0,.2);}
#aTips_loadWrap>table{table-layout:fixed;width:100%;height:100%;text-align: center;}
#aTips_loadWrap>table>tr>td{vertical-align:middle;text-align: center;}
#aTips_loadBox{display: inline-block; min-width: 80px; padding:66px 20px 20px; text-align: center; font-size: 14px; line-height: 1.6; border-radius:8px; color: #fff; background:#333 url(loading.gif) 50% 20px no-repeat; }
